@font-face {
    font-family: 'signika';
    src: url(/fonts/signika.woff2) format('woff2');
}

html {
    font-size: 16px;
    font-family: "signika", sans-serif;
    background-color: #f1f1f1;
}
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    color: #8b8b8b;
}

#container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background: linear-gradient(to top, #f7797d, #fbd786, #c6ffdd);
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: flex-end;
    & .curriculum {
        /* crear un botón */
        background-color: #f1f1f1;
        border: 1px solid #8b8b8b;
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: none;
        color: #8b8b8b;
        font-size: 14px;

        &:hover {
            background-color: #8b8b8b;
            color: #f1f1f1;
            transition: 0.8s;
        }
    }
}
.main {
    display: flex;
    & .info {
        height: 100%;
        flex-grow: 1;

        & .saludo {
            font-size: 25px;
            color: #f7797d;
        }
        & .nombre {
            font-size: 48px;
            color: #1e1e1e;
        }
        & .profesion {
            font-size: 18px;
            color: #1e1e1e;

            & span:nth-child(1){
                color:green
            }
            & span:nth-child(2){
                color:violet;
            }
        }
        & .descripcion {
        }
    }
    & .foto {
        height: 100%;
        flex-grow: 1;
    }
}
