html {
    font-size: 16px;
    font-family: sans-serif;
    background-color: #f1f1f1;
}
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

#container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background: linear-gradient(to top, #f7797d, #FBD786, #C6FFDD); 
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: flex-end;
    & .curriculum{
        /* crear un botón */
        background-color: #f1f1f1;
        border: 1px solid #8b8b8b;
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: none;
        color: #8b8b8b;
        font-size: 14px;

        &:hover {
            background-color: #8b8b8b;
            color: #f1f1f1;
            transition: .8s;
        }
    }
}
.main {
    display: flex;
    & .info {
        height: 100%;
        flex-grow: 1;
    }
    & .foto {
        height: 100%;
        flex-grow: 1;
    }
}
